on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/ci.yaml
      - container-images/**.Dockerfile
  pull_request:
    paths:
      - .github/workflows/ci.yaml
      - container-images/**.Dockerfile

jobs:
  infrastructure-opentofu:
    uses: ./.github/workflows/infrastructure-opentofu.yaml
    permissions:
      contents: read
      packages: read
    with:
      working-directory: infrastructure/opentofu
  container-images:
    strategy:
      fail-fast: true
      matrix:
        target:
          - base-ci
          - infrastructure-ci
          - spacelift-runner
          - static-website-ci
    uses: ./.github/workflows/container-images.yaml
    permissions:
      contents: read
      packages: write
    with:
      working-directory: container-images
      target: ${{ matrix.target }}
